<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>

    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
        <a href="{% url 'add-statements' %}" class="nav-link">Add Statements</a>
       <!----> <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>  <!-- Django Allauth Logout -->
    
    {% else %}
        <a href="{% url 'account_login' %}" class="nav-link">Login</a>  <!-- Django Allauth Login -->
        <a href="{% url 'account_signup' %}" class="nav-link">Sign Up</a>  <!-- Django Allauth Signup -->
    {% endif %}

</body>
</html>
