<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="static\css\home.css">
</head>
<body>
    <div class="landing-container">
        {% if user.is_authenticated %}
            <p class="welcome-message">Welcome, {{ user.username }}!</p>
            <div class="nav-links">
                <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                <a href="{% url 'add-statements' %}" class="nav-link">Add Statements</a>
                <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
            </div>
        {% else %}
            <div class="nav-links">
                <a href="{% url 'account_login' %}" class="nav-link">Login</a>
                <a href="{% url 'account_signup' %}" class="nav-link">Sign Up</a>
            </div>
        {% endif %}
    </div>
</body>
</html>